@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #2C2C2C;
  --color-primary: #816CFF;
  --color-secondary: #EFC88B;
  --color-tertiary: #BDFFEA;
  --color-text-main: #F3F4F6;
  --color-text-muted: #9CA3AF;
  
  --font-sans: "Playpen Sans", cursive, sans-serif;
  --font-heading: "Playpen Sans", cursive, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for category filter */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
